<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Kontakt</h2>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Mail</h4>
            <p>
              <a href="mailto:ben@bachmann.works">ben@bachmann.works</a>
            </p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefon</h4>
            <p><a href="tel:+49 176 436 32 327">+49 176 436 32 327</a></p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch justify-content-center"
      >
        <img src="/assets/img/horse.png" alt="" style="width: 350px" />
      </div>
    </div>
  </div>
</section>
