<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="/assets/img/profile-img.png"
        alt=""
        class="img-fluid rounded-circle"
      />
      <h1>
        <a href="/" class="text-darknes text-center">Benjamin Bachmann</a>
      </h1>
      <p class="text-center color-1">Ich opfere trojanische Pferde</p>
      <div class="social-links mt-3 text-center">
        <a href="https://www.linkedin.com/in/benbachmann/" class="linkedin"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
      </div>
      <div class="theme-change">
        <img src="/assets/img/moon.png" id="icon" />
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar text-center">
      <ul>
        <li>
          <a href="/#hero" class="nav-link scrollto"> <span>Home</span></a>
        </li>
        <li>
          <a href="/#who-am-i" class="nav-link scrollto">
            <span>Über mich</span></a
          >
        </li>
        <li>
          <a href="/#what-do-i-do" class="nav-link scrollto">
            <span>Meine Leistungen</span></a
          >
        </li>
        <li>
          <a href="/#contact" class="nav-link scrollto">
            <span>Kontakt</span></a
          >
        </li>
        <li>
          <a href="/imprint" class="nav-link scrollto active">
            <span>Impressum</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
