<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="/assets/img/profile-img.png"
        alt=""
        class="img-fluid rounded-circle"
      />
      <h1><a href="/" class="text-darknes">Benjamin Bachmann</a></h1>
      <p class="text-center text-light">I sacrifice Trojan horses</p>
      <div class="social-links mt-3 text-center">
        <a href="https://www.linkedin.com/in/benbachmann/" class="linkedin"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar text-center">
      <ul>
        <li>
          <a href="/" class="nav-link scrollto"> <span>Home</span></a>
        </li>
        <li>
          <a href="/#who-am-i" class="nav-link scrollto">
            <span>who am I</span></a
          >
        </li>
        <li>
          <a href="/#what-do-i-do" class="nav-link scrollto">
            <span>what do I do</span></a
          >
        </li>
        <li>
          <a href="/#contact" class="nav-link scrollto">
            <span>Contact</span></a
          >
        </li>
        <li>
          <a href="/imprint" class="nav-link scrollto active">
            <span>Imprint</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
