<!-- ======= Facts Section ======= -->
<section id="what-do-i-do" class="who-am-i">
  <div class="container">
    <div class="section-title">
      <h2>Meine Leistungen</h2>
      <p>
        Ich unterstütze Dich/Euch gerne bei der Definition einer
        (Konzern-)Sicherheitsstrategie <br /><br />

        Ich begleite Euch auf dem Weg zum passenden Sicherheitsleitstand! (Über
        die Definition von Anforderungen, über Make or Buy, den gesamten
        Auswahlprozess bis hin zur Implementierung) <br /><br />

        Ich unterstütze Euch dabei zielgerichtet und für die Mitarbeiter
        sinnvolle Awarenessinitiativen zu starten.<br /><br />

        Ich stelle mich gerne als Trusted Advisor für alle Sicherheitsfragen zur
        Verfügung! <br /><br />

        Außerdem stehe ich Euch natürlich für Vorträge zur Verfügung.<br /><br />
      </p>
    </div>
  </div>
</section>
<!-- End Facts Section -->
