<!-- ======= Facts Section ======= -->
<section id="who-am-i" class="who-am-i">
  <div class="container">
    <div class="section-title">
      <h2>Über mich</h2>
      <p>
        Jemand sagte mal zu mir: "Benjamin, wenn Du damals in Troja für die
        Sicherheitskultur zuständig gewesen wärst, stände die Stadt noch heute."
        👇<br /><br />

        Es gibt wohl kein besseres Bild, um zu verdeutlichen, wie das versteckte
        Eindringen in einen geschützten Ort aussehen kann. <br /><br />

        Doch eigentlich sind wir alle gut gerüstet, oder? Hast Du dieses Jahr
        schon das obligatorische PDF zur Internetsicherheit durchgeklickt.
        Natürlich hast Du Dir alles genauestens über Phishing Mails und Viren
        durchgelesen. Und dann hast Du angeklickt, dass Du geschult wurdest.<br /><br />

        Doch wenn die nächste Mail von diesem Handyhersteller kommt, bei dem Du
        über Deine Firma Prozente erhältst, ist das ganze harte Training
        plötzlich vergessen - BOOM.<br /><br />

        Trojaner.<br /><br />

        Wer zahlt dann eigentlich den Millionenschaden? Du oder die Firma?<br /><br />

        Tja. Der Gegner findet immer eine Schwachstelle. Dummerweise warst Du
        die Schwachstelle.<br /><br />

        Okay, ich gebe es zu - das war jetzt das Schreckensszenario schlechthin.
        Doch es ist gar nicht so unwahrscheinlich, wie Firmen sich erhoffen.<br /><br />

        Als Hohepriester der Sicherheitskultur muss ich Dir nun leider folgende
        Weissagung überbringen: Opfergaben an die Götter der IT-Sicherheit
        reichen nicht aus, um Dich vor Angriffen zu schützen.<br /><br />

        Genau deswegen gibt es mich. Ich helfe nämlich Deiner Firma dabei, dass
        Du geschult bist. Und zwar so, dass Du diese trojanerverseuchte Mail
        nicht öffnest und auch auf alles andere achtest. Immer. Auch, wenn's
        gerade stressig ist und Dein Schreibtisch brennt.<br /><br />

        Denn wenn es um den digitalen Schutz Deiner Firma geht, werden die
        Götter der IT-Sicherheit Dich nicht retten.<br /><br />

        Ich hingegen schon.<br /><br />

        Warum ich das kann? Ganz einfach. Ich bin Führungskraft im Bereich
        IT-Sicherheit aus Leidenschaft. Das heißt, ich entwickle Menschen. Und
        mittlerweile mache ich das nicht nur mit meinen Teams, sondern auch für
        andere Firmen. Zum Beispiel Deiner. <br /><br />

        Doch, keine Angst. Das Ganze muss nicht staubtrocken sein. Schaut mein
        Profil aus, als würde die Entwicklung einer Sicherheitskultur langweilig
        sein?<br /><br />

        Natürlich nicht.<br /><br />

        Ich nehme Euch nicht nur mit. Ich hole Euch ab. Zwar nicht auf
        trojanischen Pferden, dafür aber mit Humor. <br /><br />

        Denn nur, wer im Internet sicher unterwegs ist, hat was zu lachen.
        <br /><br />

        Wie schauts aus? Weißt Du mittlerweile die Antwort? Wer zahlt im
        Schadensfall? Ich würde es nicht herausfinden wollen. Darum frag doch
        mal Deinen Chef, ob er nicht Interesse an einer Sicherheitskultur hat.
        Die kommt am Ende alle billiger.
      </p>
    </div>
    <img src="/assets/img/2021-09-28 - Benjamin-Bachmann-Banner.png" alt="" />
  </div>
</section>
<!-- End Facts Section -->
