<!-- ======= Facts Section ======= -->
<section id="who-am-i" class="who-am-i">
  <div class="container">
    <div class="section-title">
      <h2>WHO AM I</h2>
      <p>
        Someone once said to me: "Benjamin, if you had been responsible for the
        security culture in Troy back then, the city would still be standing
        today. 👇 <br /><br />

        There is probably no better image to illustrate what hidden intrusion
        into a protected place can look like. <br /><br />

        But actually we are all well-equipped, aren't we? Have you already
        clicked through the obligatory PDF on Internet security this year. Of
        course, you read all about phishing mails and viruses. And then you
        clicked that you have been trained.<br /><br />

        But when the next mail comes from this cell phone manufacturer, where
        you receive percentages through your company, the whole hard training is
        suddenly forgotten - and BANG. <br /><br />

        A Trojan horse.<br /><br />

        Who then actually pays for the million-dollar damage? You or the
        company?<br /><br />

        Well. The opponent always finds a weak spot. Unfortunately, you have
        been the weak spot. <br /><br />

        Okay, I admit it - that was the horror scenario par excellence. But it
        is not as unlikely as companies hope.<br /><br />

        As the high priest of security culture, I am afraid I have to give you
        the following prophecy: Offerings to the gods of IT security are not
        enough to protect you from attacks.<br /><br />

        This is exactly why I exist. I help your company to ensure that you are
        trained. And in such a way that you don't open this Trojan infected mail
        and pay attention to everything else. Always. Even when it's stressful
        and your desk is on fire.<br /><br />

        Because when it comes to the digital protection of your company, the
        gods of IT security will not save you. <br /><br />

        But I will. <br /><br />

        Why can I do that? It's simple. I am a passionate IT security leader.
        That means I develop people. And in the meantime, I do that not only
        with my teams, but also for other companies. Yours, for example.
        <br /><br />

        But don't worry. The whole thing doesn't have to be as dry as dust. Does
        my profile look like the development of a security culture is boring?<br /><br />

        Of course not.<br /><br />

        I will not only take you with me. I'm picking you up. Not on Trojan
        horses, but with humor. <br /><br />

        After all, you can only have a good laugh when you're safe on the
        Internet. <br /><br />

        What does it look like? Do you know the answer by now? Who pays in case
        of damage? I wouldn't want to find out. So why don't you ask your boss
        if he is interested in a security culture. That comes cheaper in the
        end.
      </p>
    </div>
    <img src="/assets/img/2021-09-28 - Benjamin-Bachmann-Banner.png" alt="" />
  </div>
</section>
<!-- End Facts Section -->
